{% extends 'base.html' %}
    {% block title %}
        Register - Acquainted
    {% endblock %}

<!-- This is how the autheticated user changes theur profile. notice the register button is only on the page if authenticated, which means the you can only create
an account from an already created one. this keeps me in control of who creates account, which is nice -->
{% block content %}
<div class="container">
{% if user.is_authenticated %}
 <h1>
     Register
 </h1>
<br/>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <a href="{% url 'blogpage' %}" class="btn btn-outline-dark">Back</a>
        <button class="btn btn-outline-dark">Register</button>
    </form>
</div>
{% else %}
    <h3>
        <center>
        Get acquainted with me some other way! 
        <br/>
        <br/>
        Try <a href="{% url 'me' %}">learning about me here.</a>
        </center>
        <br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
    </h3>
{% endif %}
</div>
{% endblock %}
    