<!--home page for website-->

{% extends 'base.html' %}



{% block content %}
{% load static %}
<!--big title for homepage section-->
<div class="p-5 mb-4" style="background-image: url('https://acquainted.s3.us-east-2.amazonaws.com/backgrounds/IMG_8341+2.JPG'); background-size: cover; background-position: center top; ">
  <div class="container-fluid py-5" >
    <h1 class="display-1" style="color:rgb(255, 255, 255);"><b>
      Welcome to Acquainted.
    </b>
    </h1>
    <p class="lead" style="color:rgb(255, 255, 255);"><b>
      A project to build community</b>
    </p>
    <a href="{% url 'about' %}" class="btn btn-light btn-lg btn-block">Learn more</a>
    <a href="{% url 'blogpage' %}" class="btn btn-lg btn-outline-light btn-block"><b>See blog here</b></a>
  </div>
</div>

<!--social media api section-->
<div class="container">
      <div class="container pb-4 mb-4">
        <h1 class="display-2"></h1>
        <p class="lead">
            
        </p>
      </div>
      <div class="container pb-4 mb-4 border-bottom">
        <h1 class="display-6">See latest stories and posts</h1>
        <p class="lead">
            from instagram:
        </p>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


      </div>
      
    </div>
   
    </div>




{% endblock %}