{% extends 'base.html' %}
    {% block title %}
        Login - Acquainted
    {% endblock %}

{% block content %}
<!-- This is the login page -->

<br/>
<div class="container">
 <h1>Log in</h1>
<br/>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}<br/>
        <a href="{% url 'blogpage' %}" class="btn btn-outline-dark">Back</a>
        <button class="btn btn-outline-dark">Login</button>
        
    </form>
</div>
<br/>
        <br/>
        <br/><br/>
        <br/><br/>
        <br/><br/><br/><br/>
        <br/><br/>
        <br/><br/>
</div>
{% endblock %}
    