{% extends 'base.html' %}
    {% block title %}
        Change Password - Acquainted
    {% endblock %}


{% block content %}

<!--This is how the authenticated user changes their password-->
<div class="container">
{% if user.is_authenticated %}
 <h1>Change Password</h1>
<br/>
<ul>
    <li>Your password can't be too similar to your other personal information.
    </li>
    <li>Your password must contain at least 8 characters.
    </li>
    <li>Your password can't be a commonly used password.
    </li>
    <li>Your password can't be entirely numeric.
    </li>
</ul>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <a href="{% url 'blogpage' %}" class="btn btn-outline-dark">Back</a>
        <button class="btn btn-outline-dark">Change Password</button>
        
    </form>
</div>
{% else %}
    <h3>
        <center>
        Get acquainted with me some other way! 
        <br/>
        <br/>
        Try <a href="{% url 'me' %}">learning about me here.</a>
        </center>
        <br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
    </h3>
{% endif %}
</div>
{% endblock %}
    